*
  box-sizing border-box

#main
  margin 10px

main
  margin 10px
  padding 0

section
  ul, li
    padding 0
    margin 0
    list-style none
    display block

  ul.panel
    display -ms-flexbox
    -ms-flex-direction column
    -ms-flex-wrap wrap
    display flex
    flex-direction column
    flex-wrap wrap
    height calc(100vh - 200px)

    @media (max-width: 500px)
      height auto

  li.item
    width 33.3%
    max-width 300px

    @media (max-width: 800px)
      width 50%

    @media (max-width: 500px)
      width 100%

  ul.thread
    position relative
    margin 1.8em

  li.message
    position relative

    &:nth-child(n+2)
      position absolute
      background-color #fff
      border 1px solid rgba(0, 0, 0, 0.150)

article
  ul
    list-style none
    max-width 90vw

  ul, li
    padding 0
    margin 0

  li.message
    margin 7px 0

form.create,
li.message
  background #fff
  padding 1em
  border 1px solid rgba(0, 0, 0, 0.150)
  box-shadow 1px 1px 2px rgba(0, 0, 0, 0.2)

form.create
  max-width 90vw

  input, button, textarea
    margin 0 12px

  input, textarea
    width calc(70% - 24px)

  button
    width calc(30% - 24px)
