*
  box-sizing border-box

#main
  margin 10px

main
  margin 10px auto
  max-width 100vw
  padding 0

main, section, article
  width 780px

section
  ul, li
    padding 0
    margin 0
    list-style none
    display block

  ul.panel
    display -ms-flexbox
    -ms-flex-direction column
    -ms-flex-wrap wrap
    display flex
    flex-direction column
    flex-wrap wrap
    height calc(100vh - 200px)
    min-height 295px

    @media (max-width: 500px)
      height auto

  li.item
    width 33.3%
    max-width 300px

    @media (max-width: 800px)
      width 50%

    @media (max-width: 500px)
      width 100%

  ul.thread
    position relative
    margin 2.7em 1em
    text-align center

  li.message
    position relative
    max-height 200px
    overflow hidden
    display inline-block
    text-align left

    &:nth-child(n+2)
      position absolute
      background-color #fff
      border 1px solid rgba(0, 0, 0, 0.150)

article
  ul
    list-style none
    max-width 90vw

  ul, li
    padding 0
    margin 0

  li.message
    margin 7px 0
    clear both
    overflow-x hidden
    overflow-y auto

    @media (max-width: 800px)
      & > .name
        display block
      & > .user
        display none
    @media (min-width: 800px)
      & > .name
        display none
      & > .user
        display block

    .name, .time
      overflow hidden
      text-overflow ellipsis

    & > .text,
    & > .name
      width 100%
    .user
      float right
      padding 10px
      background inherit

      &.normal:not(.small):not(.tiny)
        width 119px

      &.small:not(.tiny)
        width 200px

        & > *
          float left
        img
          width calc(30% - 5px)
          margin-right 5px
        .name, .time
          width 70%
          display block

      &.tiny
        text-align right
        width 265px
        height 2em
        overflow hidden
        margin-bottom 14px

        & > *
          height 1em
          display inline
          margin-left 3px

        img
          vertical-align text-bottom

    .user > .text
      display inline

li.message,
form.create
  background #fff
  padding 1em
  border 1px solid rgba(0, 0, 0, 0.150)
  box-shadow 1px 1px 2px rgba(0, 0, 0, 0.2)
  margin-left auto
  margin-right auto

li.message
  .name
    font-weight bold
  .text
    font-weight normal
  p:last-child
    margin 0

form.create
  width inherit
  max-width 100%
  margin 10px auto 0 auto
  position fixed

  input, button, textarea
    margin 0 12px
    min-height 60px
    height 60px
    display inline

  input, textarea
    width calc(70% - 24px)
    font-family monospace

  button
    width calc(30% - 24px)
